* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
.grid-container {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 1fr 4fr;
}
.grid-container>div {
    text-align: center;
}
.navigation {
    grid-row: 1 / 4;
    background-color: #222222;
}
.mainsection {
    max-width: 2000px;
    width: 100%;
    grid-row: 2/4 ;
}
.footer {
    max-width: 2000px;
    width: 100%;
    grid-column: 2/3;
}
.lines {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}
.logo {
    display: flex;
    justify-content: space-around;
}
.firstline {
    width: 25px;
    height: 1px;
    border-radius: 5%;
    background-color: #fff;
    opacity: 1;
}
.secondline {
    width: 25px;
    height: 1px;
    border-radius: 5%;
    background-color: #fff;
    opacity: 1;
    margin-top: 5px;
}
.thirdline {
    width: 25px;
    height: 1px;
    border-radius: 5%;
    background-color: #fff;
    opacity: 1;
    margin-top: 5px;
}
.navelements {
    display: flex;
    margin-top: 60px;
}
.ulitems {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 20px;
}
.ulitems a {
    display: flex;
    margin-top: 10px;
    color: #FFFFFF;
}
.ulitems h4 {
    margin-left: 10px;
    font-size: 16px;
    margin-top: 6px;
}
.secondcontainer {
    max-width: 260px;
    width: 100%;
    margin: auto;
    padding: auto;
    font-family: Avenir LT Std;
}
.following {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left:20px ;
    font-family: Avenir LT Std;
}
.faces {
    display: flex;
    margin-top:15px ;
    font-size: 16px;
}
.faces h4 {
    margin-left: 15px;
    margin-top: 23px;
    color: #FFFFFF;
}
.faces img {
    margin-top: 10px;
}
.buttom h4 {
    color: #FFFFFF;
    margin-right: 115px;
    margin-top: 15px;
    font-size: 14px;
}
.list {
    display: flex;
    color: #FFFFFF;
    font-size: 12px;
}
.search-container {
    display: flex;
    justify-content: space-between;
    font-family: Avenir LT Std;
}
.search-container input {
    width: 400px;
    height: 60px;
    background-color: #F8F8F8;
    border-radius: 12px;
    opacity: 1;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    padding: 10px 35px 10px 15px;
    font-family: Avenir LT Std;
}
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
.header {
    background-color: #FFFFFF;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
}
.top {
    display: flex;
    margin-right: 20px;
}
.headertitle {
    padding-right: 10px;
    padding-top: 10px;
}
.pinktitle {
    padding-right: 10px;
    padding-top: 25px;
    color: #FF2288;
    font-family: Avenir LT Std;
}
.profile h4 {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #FF2288;
    border-radius: 5px; 
    height: 40px;
    width: 100px;
    padding-top: 10px;
    font-size: 14px;
    font-family: Avenir LT Std;
}

.headertitle1, .headertitle2 {
    padding-right: 10px;
    padding-top: 23px;
}
.profile  {
    padding-right: 5px;
    padding-top: 20px;
}
.pinkcircle1 {
    display: block;
    background-color: #FF2288;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-left: 15px;
    position: absolute;
}
.pinkcircle2 {
    display: block;
    background-color: #FF2288;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-left: 15px;
    position: absolute;
}
.secondnavigationul li {
    display: inline;
    padding: 10px;
}
.secondnavigationul img {
    display: inline;
    padding: 10px;
    font-family: Avenir LT Std;
}
.li-div {
    font-family: Avenir LT Std;
}
.secondnavigation {
    display: flex;
    justify-content: space-between;
}
.filter li {
    list-style: none;
    padding-left:15px;
    padding-top: 12px;
    font-family: Avenir LT Std;
}
.filter img {
    padding-top: 8px;
    padding-left: 10px;
}
.filter {
    display: flex;
    margin-right: 50px;
    margin-top: 35px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
    width: 110px;
    height: 45px;
}
.secondnavigation  {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    padding: auto;
}
.mainsectioncontainer {
    max-width: 2000px;
    width: 100%;
    margin-bottom: 50px;
    padding: auto;
}
.secondnavigationul {
    margin-top: 50px;
    margin-left: 60px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
}
.imagesline1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 40px;
}
.imagesline2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 40px;
}
.imagesline1 img {
    width:250px;
}
.imagesline1 p {
    width:250px;
    font-family: Avenir LT Std;
}

.imagesline2 img {
    width:250px;
}
.imagesline2 p{
    width:250px;
    font-family: Avenir LT Std;
}
.load-more {
    border:solid #D8D8D8;
    border-radius: 10px;
    border-style: none;  
    background-color: #F2F2F2;
    width: 300px;
    height: 30px;
    margin-top: 100px;
    margin-left: 400px;
}
.load-more span {
    display: block;
    padding-top: 5px;
    font-family: Avenir LT Std;
    color: #222222;
    font-size: 16px;
}
.footercontainer {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    padding: auto;
}
.footerimages {
    background-color: #FAFAFA;
    max-width: 2500px;
    width: 90%;
}
.titleandbutton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 100px;
    font-family: Avenir LT Std;
}
.button {
    padding-right: 100px;
    color: #222222;
    opacity: 30%;
    font-size: 14px;
    font-family: Avenir LT Std;
}
.footertitle {
    color: #222222;
    opacity: 100%;
    font-size: 32px;
}
.footerimages {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 40px;
}
.footerimagebox {
    margin-left:10px;
    margin-top: 10px;
    font-family: Avenir LT Std;
}
.footerimagebox h6 {
    font-size: 12px;
    font-family: Avenir LT Std;
    opacity: 60%;
}
.border1 { 
    border:solid #222222;
    border-radius: 10px;
    border-style: none;  
    background-color: #F2F2F2;
    opacity: 1; 
}
.border {
    border:solid #D8D8D8;
    border-radius: 10px;
    border-style: none;  
    background-color: #F2F2F2;  
    opacity: 1; 
}
.secondfooter {
    max-width: 2000px;
    width: 100%;
    margin: auto;
    padding: auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 50px;
    max-width: 2000px;
    width: 90%;
}
.firstflex h6 {
    padding-top: 10px;
    color: #222222;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    font-family: Avenir LT Std;
    font-size: 16px;
    opacity: 70%;
}
.secondflex h6 {
    padding-top: 10px;
    color: #222222;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    font-family: Avenir LT Std;
    font-size: 16px;
    opacity: 70%;
}
.thirdflex h6 {
    padding-top: 10px;
    color: #222222;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    font-family: Avenir LT Std;
    font-size: 16px;
    opacity: 70%;
}
.fourthflex h6 {
    padding-top: 10px;
    color: #222222;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    font-family: Avenir LT Std;
    font-size: 16px;
    opacity: 70%;
}
.fourthflex {
    margin-right: 100px;
}
h5 {
    font-size: 16px;
    font-family: Avenir LT Std;
    opacity: 70%;
}
.firstflex h5 {
    display: flex;
    justify-content: start;
    padding-bottom: 10px;
    font-family: Avenir LT Std;
    font-size: 16px;
    opacity: 70%;
}
.secondflex h5 {
    display: flex;
    justify-content: start;
    padding-bottom: 10px;
    font-family: Avenir LT Std;
    font-size: 16px;
    opacity: 70%;
}
.thirdflex h5 {
    display: flex;
    justify-content: start;
    padding-bottom: 10px; 
    font-family: Avenir LT Std;
    font-size: 16px;
    opacity: 70%;
}
.fourthflex h5 {
    display: flex;
    justify-content: start;
    padding-bottom: 10px;   
    font-family: Avenir LT Std;
    font-size: 16px;
    opacity: 70%;
}
.endoffooter {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 50px;
    font-family:Avenir LT Std;
}
.name1 {
    margin-right: 100px;
    font-size: 16px;
    font-family: Avenir LT Std;
}
.ulitems {
  border-radius: 10px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  width: 250px;
  font-family: Avenir LT Std;
}
.ulitems:hover {
    background-color: #FF2288;
}
.styleall1 a {
    background-color: #FFFFFF;
    border: none;
    color: #222222;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    font-family: Avenir LT Std;
}
.styleall2 a {
    background-color: #FFFFFF;
    border: none;
    color: #222222;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    font-family: Avenir LT Std;
}
.styleall3 a {
    background-color: #FFFFFF;
    border: none;
    color: #222222;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    font-family: Avenir LT Std;
}
.styleall4 a {
    background-color: #FFFFFF;
    border: none;
    color: #222222;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    font-family: Avenir LT Std;
}
.styleall5 a {
    background-color: #FFFFFF;
    border: none;
    color: #222222;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    font-family: Avenir LT Std;
}
.styleall6 a {
    background-color: #FFFFFF;
    border: none;
    color: #222222;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    font-family: Avenir LT Std;
}
.styleall7 a {
    background-color: #FFFFFF;
    border: none;
    color: #222222;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    font-family: Avenir LT Std;
}
.styleall1:hover {
    background-color: #F2F2F2;
    border-radius: 8PX;
}
.styleall2:hover {
    background-color: #F2F2F2;
    border-radius: 8PX;
}
.styleall3:hover {
    background-color: #F2F2F2;
    border-radius: 8PX;
}
.styleall4:hover {
    background-color: #F2F2F2;
    border-radius: 8PX;
}
.styleall5:hover {
    background-color: #F2F2F2;
    border-radius: 8PX;
}
.styleall6:hover {
    background-color: #F2F2F2;
    border-radius: 8PX;
}
.styleall7:hover {
    background-color: #F2F2F2;
    border-radius: 8PX;
}